<%- model_class = Post -%>
<div class="page-header">
  <h1>All posts</h1>
</div>

<% if @current_user.present? %>
  <%= link_to 'New post',
new_post_path,
:class => 'btn btn-primary' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Votes</th>
      <th>Topic</th>
      <th>Author</th>
      <th>Created</th>
      <th>Last updated</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.votes.sum(:vote) %></td>
        <td><%= link_to(post.topic, post) %></td>
        <td><%= post.user.name %></td>
        <td><%= post.created_at.strftime('%a %e %b %Y') %></td>
        <td><%= time_ago_in_words(post.last_update) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


