<h1>All posts</h1>

<%= form_tag(search_posts_path, :method => :get) do %>
  <%= label_tag :q, :Search %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag :Find %>
<% end %>

<table>
  <tr>
    <th>Topic</th>
    <th>Author</th>
    <th>Created</th>
    <th>Updated</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to(post.topic, post) %>
      </td>
      <td>
        <%= post.user.name %>
      </td>
      <td>
        <%= post.created_at.strftime('%a %e %b %Y') %>
      </td>
      <td>
        <%= post.updated_at.strftime('%H:%M:%S %a %e %b %Y') %>
      </td>
      <td>
        <%= link_to 'All comments', post_comments_path(post) %>
      </td>
    </tr>
  <% end %>
</table>