
<div class="post">
  <div class="header">
    <h1><%= @post.topic %></h1>
    <p><%= @post.votes.sum(:vote) %>
    <% if @current_user.present? %>
      <%= link_to 'up', vote_up_post_path(@post) %>
      <%= link_to 'down', vote_down_post_path(@post) %>
    <% end %>
    </p>
    <p><%= @post.user.name %></p>
    <p><%= image_tag(@post.user.image) %></p>
  </div>
  <div class="content">
    <p>Posted: <%= @post.created_at %></p>
    <%= @post.content %>
  </div>
</div>

<% @post.comments.each do |comment| %>
  <div class="comment">
    <div class="header">
      <p><%= comment.user.name %></p>
      <p><%= image_tag(comment.user.image) %></p>
    </div>
    <div class="content">
      <p>Created: <%= comment.created_at %></p>
      <%= comment.content %>
    </div>
    <% if @current_user.present? && @current_user.id == comment.user.id %>
      <%= link_to 'Edit comment', edit_post_comment_path(@post, comment) %>
    <% end %>

    <% if @current_user.present? && @current_user.admin? %>
      <%= link_to 'Delete comment', post_comment_path(@post, comment), :method => :delete, :data => { :confirm => "Are you sure?"} %>
    <% end %>
  </div>
<% end %>
<div class="controls">
  <% if @current_user.present? %>
    <%= link_to 'Add comment', new_post_comment_path(@post) %>
  <% end %>

  <% if @current_user.present? && (@current_user.id == @post.user.id || @current_user.admin?) %>
    <%= link_to 'Edit post', edit_post_path %>
  <% end %>

  <% if @current_user.present? && @current_user.admin? %>
    <%= link_to 'Delete post', @post, :method => :delete, :data => { :confirm => "Are you sure?" } %>
  <% end %>
</div>