<!DOCTYPE html>
<html>
<head>
  <title>SlackOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to 'All posts', posts_path %>
  <% if @current_user.present? && @current_user.admin? %>
    <%= link_to 'All users', users_path %>
  <% end %>
  <% if @current_user.present? %>
    <%= link_to 'New post', new_post_path %>
    <%= link_to @current_user.name.capitalize, @current_user %>
    <%= link_to 'Log out', logout_path, :method => :delete %>
  <% else %>
    <%= link_to 'Log in', login_path %>
    <%= link_to 'Sign up', new_user_path %>
  <% end %>
</nav>
<%= yield %>
<%= insert_paloma_hook %>
</body>
</html>
